.container {
    max-width: 1340px;
    padding: 0 12px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 40px;
}

.navbar--a {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    /* margin-right: 40px; */
    color: black;
    text-decoration: none;
    /* a 連結取消底線*/
}

.banner--section {
    display: flex;
    align-items: center;
    align-items: stretch;
    /* 讓子元素填滿父容器高度 */
}

.banner--img {
    width: 50%;
}

.banner--title {
    /* border: 1px solid black; */
    width: 50%;
    background: url("./images/index/a1.png");
    display: flex;
    align-items: center;

}

.banner--title--content {
    margin-left: 80px;
}

.banner--title--content h1 {
    font-size: 120px;
    font-weight: 900;
    line-height: 1.5;
    color: #0027D5;
}

.banner--title--content p {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: #0027D5;
}

@media(max-width:992px) {
    .banner--section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-items: stretch;
        /* 讓子元素填滿父容器高度 */
    }

    .banner--img {
        width: 100%;
    }

    .banner--title {
        /* border: 1px solid black; */
        width: 100%;
        /* height: 356px; */
        background: url("./images/index/a1.png");
        display: flex;
        align-items: center;
        padding: 24px 37px 40px 24px;
    }

    .banner--title--content {
        margin-left: 0px;
    }

    .banner--title--content h1 {
        font-size: 52px;
        font-weight: 700;
        line-height: 1.5;
        color: #0027D5;
    }

    .banner--title--content p {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.5;
        color: #0027D5;
    }
}


.banner--aboutme--section {
    display: flex;
    justify-content: end;
    margin-top: -160px;
}

.banner--aboutme {
    margin-right: 80px;
    display: inline-block;
    justify-content: center;
    /* border: 1px solid black; */
    width: 60%;
    background-color: #fff;
    padding: 80px 40px 80px 40px;

}

.banner--aboutme p {
    color: black;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 500;
}

@media(max-width:992px) {
    .banner--aboutme--section {
        display: flex;
        justify-content: end;
        margin-top: 0px;
    }

    .banner--aboutme {
        margin-right: 0px;
        display: inline-block;
        justify-content: center;
        /* border: 1px solid black; */
        width: 100%;
        background-color: #fff;
        padding: 40px 24px 40px 24px;

    }

    .banner--aboutme p {
        color: black;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 500;
        display: flex;
        flex-direction: column;
    }

    .banner--aboutme p span {
        margin-top: 8px;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 500;
    }
}

.service {
    padding: 80px 0px;
}

.service--title {
    font-size: 64px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.service--list {
    padding: 0 110px 0 110px;
}

.service--list li {
    align-items: center;
    margin-bottom: 64px;
}

.service--img {
    width: 60%;
}

.service--content {
    width: 40%;
    height: 210px;
    background-color: #fff;
    padding: 24px;

}

.service--content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.5;
    color: #000000;
}

.service--content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #4B4B4B;
}

.service--link {
    /* border:1px solid black; */
    justify-content: end;
    align-items: center;
}

.service--link p {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
}

@media(max-width:992px) {
    .service {
        padding: 64px 0px;
    }

    .service--title {
        font-size: 48px;
        line-height: 1.5;
        margin-bottom: 32px;
    }

    .service--list {
        padding: 0 12px 0 12px;
    }

    .service--list li {
        align-items: center;
        margin-bottom: 32px;
        flex-direction: column;
    }

    .service--img {
        width: 100%;
    }

    .service--content {
        width: 100%;
        height: 210px;
        background-color: #fff;
        padding: 24px;

    }

    .service--content h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .service--content p {
        font-size: 16px;
    }

    .service--link {
        /* border:1px solid black; */
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }

    .service--link p {
        font-size: 28px;
        line-height: 1.5;
        font-weight: 700;
    }

    .mr--40,
    .ml--40 {
        margin: 0 !important;
    }
}

.blog {
    margin-bottom: 300px;
}

.blog--title h2 {
    margin-left: 48px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 24px;
}

.blog--list--section {}

.blog--list {
    display: flex;
    padding: 0 48px;

}

.blog--list li {
    margin-right: 24px;
}

.blog--card {
    /* width: 100%; */
}

.card--img {
    margin-bottom: 16px;
    height: 200px;
    /* height: 300px; */
}

.card--content time {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.card--content .tag {
    /* text-decoration: none; */
    display: flex;

}

.tag a {
    text-decoration: none;
    color: #0027D5;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin-right: 8px;
}

.card--tag {
    background-color: #0027D5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 6px 12px 6px 12px;
    border-radius: 24px;
}

.card--content h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
}

.card--content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 限制顯示 2 行 */
    overflow: hidden;
    margin-bottom: 16px;
}

.card--btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #4B4B4B;
    background-color: #fff;
    border-radius: 30px;
    padding: 8px 16px 8px 16px;
}

.card--btn:hover {
    background-color: #4B4B4B;
    color: #fff;
}

.blog-action {
    display: flex;
    justify-content: space-between;
    margin-top: -250px;
}

.blog-action a svg {
    color: #0027D5;
}

@media(max-width:922px) {

    .card2,
    .card3 {
        display: none;
    }

    .blog {
        margin-bottom: 0px;
    }

    .blog--title h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    .blog--list--section {}

    .blog--list {
        display: flex;
        padding: 0 12px;
        margin-bottom: 32px;

    }

    .blog--list li {
        margin-right: 0px;
    }

    .blog--card {
        /* width: 100%; */
    }

    .card--img {
        margin-bottom: 16px;
        /* height: 300px; */
    }

    .card--content time {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
    }

    .card--content .tag {
        /* text-decoration: none; */
        display: flex;

    }

    .tag a {
        text-decoration: none;
        color: #0027D5;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
        margin-right: 8px;
    }

    .card--tag {
        background-color: #0027D5;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        padding: 6px 12px 6px 12px;
        border-radius: 24px;
    }

    .card--content h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    .card--content p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* 限制顯示 2 行 */
        overflow: hidden;
        margin-bottom: 16px;
    }

    .card--btn {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #4B4B4B;
        background-color: #fff;
        border-radius: 30px;
        padding: 8px 16px 8px 16px;
    }

    .card--btn:hover {
        background-color: #4B4B4B;
        color: #fff;
    }

    .blog-action {
        display: flex;
        justify-content: flex-end;
        gap: 24px;
        margin-top: 0px;
    }

    .blog-action a svg {
        color: #0027D5;
    }
}

.successCase {
    padding: 80px 0px;
}

.successCase--title h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 24px;
}

.titleshow--img {
    width: 60%;
    border: 24px solid #EDEDED;
    margin-right: 24px;
}

.successCase--tilteshow--content {
    width: 60%;
}

.successCase--tilteshow--content li {
    width: 80%;
    /* background-color: #fff; */
    padding: 80px 40px;
    /* border:1px solid black; */
}

.successCase--tilteshow--content p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.successCase--tilteshow--content span {
    color: #0027D5
}

.successCase--content {
    margin-bottom: 40px;
}

.successCase--content--btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #0027D5;
    background-color: #fff;
    border-radius: 20px;
    padding: 8px 16px;
}

.successCase--content--btn:hover {
    background-color: #0027D5;
    color: #fff;
}

@media(max-width:992px) {
    .successCase {
        padding: 64px 0px;
    }

    .successCase--content {
        margin-bottom: 40px;
    }

    .successCase--title h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }

    .successCase--title h2 div {
        width: 100%;
    }

    .titleshow--img {
        width: 100%;
        border: 24px solid #EDEDED;
        margin-right: 0px;
    }

    .successCase--tilteshow {
        flex-direction: column;
    }

    .successCase--tilteshow--content {
        width: 100%;
    }

    .successCase--tilteshow--content li {
        width: 100%;
        /* background-color: #fff; */
        padding: 40px 24px;
        /* border:1px solid black; */
        margin-bottom: 12px;
    }

    .successCase--tilteshow--content p {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
    }

    .successCase--content--btn {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        color: #0027D5;
        background-color: #fff;
        border-radius: 20px;
        padding: 8px 16px;
    }

    .successCase--content--btn:hover {
        background-color: #0027D5;
        color: #fff;
    }

    .ml--219,
    .mt--40 {
        margin: 0 !important;
    }
}

.successCase--list {
    padding: 24px;
    background-color: #4B4B4B;
}

.successCase--list li {
    width: 25%;
    margin-right: 24px;

}

.successCase--list--h2 h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 8px;
}

.successCase--list--pgroup {
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.successCase--list--p {
    display: flex;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #4B4B4B;
    margin-bottom: 8px;
    line-height: 1.5;

}

.icon-check {
    margin-right: 8px;
}

.successCase--list--btn a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border: 1px solid #4B4B4B;
    border-radius: 20px;
    color: #4B4B4B;
    text-decoration: none;
    margin-top: 8px;
}

.successCase--list--btn a:hover {

    background-color: #4B4B4B;
    color: #fff;

}

@media(max-width:992px) {
    .successCase--list {
        padding: 24px;
        flex-direction: column;
        background-color: #4B4B4B;
    }

    .successCase--list li {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 24px;

    }

    .successCase--list--h2 h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    .successCase--list--pgroup {
        border-bottom: 1px solid black;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .successCase--list--p {
        display: flex;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 500;
        color: #4B4B4B;
        line-height: 1.5;
    }

    .icon-check {
        margin-right: 8px;
    }

    .successCase--list--btn a {
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        border: 1px solid #4B4B4B;
        border-radius: 20px;
        color: #4B4B4B;
        text-decoration: none;
        margin-top: 8px;
    }

    .successCase--list--btn a:hover {

        background-color: #4B4B4B;
        color: #fff;

    }
}

.newslitter {}

.newslitter--img {
    width: 50%;
}

.newlitter--sub {
    width: 50%;
    background: url("./images/index/a1.png");
    display: flex;
    align-items: center;
}

.newlitter--sub {
    padding: 172px 80px;
}

.newlitter--sub--input {
    background-color: #fff;
    padding: 80px;
}

.newlitter--sub--input h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 16px;
}

.newlitter--sub--input p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 24px;
}

.newlitter--sub--input p span {
    color: #0027D5;
}

.newlitter--sub--input input {
    width: 100%;
    display: block;
    background-color: #F1F1F1;
    color: #4B4B4B;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 8px;
    border: 0px;
}

.newlitter--sub--input button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #0027D5;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #fff;
}

.newlitter--sub--input button:hover {
    background-color: #0027D5;
    color: #fff;
}

@media(max-width:992px) {
    .newslitter {
        flex-direction: column;
    }

    .newslitter--img {
        width: 100%;
    }

    .newlitter--sub {
        width: 100%;
        background: url("./images/index/a1.png");
        display: flex;
        align-items: center;
        padding: 12px;
    }

    .newlitter--sub--input {
        background-color: #fff;
        padding: 40px;
        width: 100%;
    }

    .newlitter--sub--input h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 16px;
    }

    .newlitter--sub--input p {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    .newlitter--sub--input p span {
        color: #0027D5;
    }

    .newlitter--sub--input input {
        width: 100%;
        display: 500;
        background-color: #F1F1F1;
        color: #4B4B4B;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 8px;
        border: 0px;
    }

    .newlitter--sub--input button {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        color: #0027D5;
        border-radius: 20px;
        padding: 8px 16px;
        background-color: #fff;
    }

    .newlitter--sub--input button:hover {
        background-color: #0027D5;
        color: #fff;
    }
}

.contact {
    padding: 80px;
}


.contact h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
}

.contact--list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}

.contact--list p {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 8px;
    align-items: end;
}

.contact--list p .email {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    color: black;
    margin-right: 16px;
}

.contact--list p span {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    color: black;
    margin-right: 16px;
}

.contact--list p img {
    display: inline;
}

.contact--list svg {
    color: black;
}

@media(max-width:992px) {

    .contact {
        padding: 64px 0px;
    }


    .contact h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;
    }

    .contact--list {
        display: flex;
        /* justify-content: space-between; */
        border-bottom: 1px solid black;
        ;
        align-items: self-start;
        flex-direction: column;
        /* justify-content: start; */
    }

    .contact--list p {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
    }

    .contact--list p .email {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
    }

    .contact--list p img {
        display: inline;
    }

    .contact--list .df {
        flex-direction: column;
        align-items: start;
    }
}

footer {
    padding: 24px 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}

footer p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}