.container {
    max-width: 1920px;
    margin: 0 auto;
}

@media(max-width:992) {
    .container {
        max-width: 992px;
        /* margin: 0 auto; */
    }
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    /* border: 1px solid black; */
    padding-top: 24px;
    padding-bottom: 24px;
}

.navbar li a {
    text-decoration: none;

    font-size: 28px;
    color: black;
}

.banner {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    /* background: url("/images/Hero Section_r.png"); */
}

.banner--img {
    width: 50%;
    /* height: 834px; */
    /* background-color: red; */
}

.banner--title {
    width: 50%;

    height: 834px;
    background-color: gray;
    background: url("/images/Hero Section_r.png");
}

.banner--title--content {
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 80px;
    padding-right: 193px;
    color: #0027D5;
}

.banner--title--content h1 {
    font-size: 120px;
    font-weight: 900;
}

.banner--title--content p {
    font-size: 28px;
}

@media(max-width:992px) {
    .banner {
        flex-wrap: wrap;
    }

    .banner--img {
        width: 100%;
        /* height: 375px; */
        /* background-color: yellow; */
    }

    .banner--title {
        width: 100%;
        height: 356px;
        text-align: center;
    }

    .banner--title--content {
        padding-left: 24px;
        padding-top: 24px;
        padding-right: 34px;
        padding-bottom: 40px;
    }

    .banner--title--content h1 {
        font-size: 52px;
        /* width: 298px; */
    }

    .banner--title--content p {
        font-size: 28px;
        margin-bottom: 200px;
    }
}

.about {
    justify-content: end;
    margin-top: -180px;
    /* background-color: red; */
}

.about--content {
    width: 1077px;
    /* height: 362px; */
    /* border: 1px solid black; */
    padding: 80px 40px;
    margin-right: 80px;
    background-color: #fff;
}

.about--content p {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}

.about--content ul {
    /* display: flex; */
    /* border:1px solid black; */
    justify-content: start;
    gap: 4px;
    padding-top: 13.55px;
    padding-bottom: 13.55px;

}

@media(max-width:992px) {
    .about {
        margin-top: 0;
    }

    .about--content {
        width: 100%;
        margin-right: 12px;
        margin-left: 12px;
        padding: 40px 24px;
    }

    .about--content p {
        font-size: 24px;
    }
}

.service {
    /* background-color: red; */
    /* padding-top: 80px;
    padding-left: 312px; */
    padding: 80px 312px;
    width: 100%;
}

.service--title {
    font-size: 64px;
    margin-bottom: 32px;
}

.service--list li {
    /* width: 1076px; */
    /* align-items: center; */
    padding: 0 110px;
    margin-bottom: 64px;
}

.service--img {
    width: 636px;
}

.service--content {
    width: 480px;
    /* height: 210px; */
    padding: 24px;
    /* margin-left: -40px; */
    margin-top: 55px;
    margin-bottom: 55px;
    background-color: #fff;
    /* border: 1px solid black; */

}

.service--content img {
    width: 40px;
}

.service--content h2 {
    font-size: 28px;
}

.service--content p {
    font-size: 1rem;
    font-weight: 500;
    color: #4B4B4B;
}

.service--link {
    align-items: center;
    justify-content: end;
    /* border: 1px solid black; */
    width: 1296px;
    font-size: 28px;
    /* padding-right: 190px; */
}

.service--link p {
    margin-right: 8px;
}



@media(max-width:992px) {
    .service {
        margin: 0 auto;
        padding: 64px 12px;
    }

    .service--title {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 48px;
        text-align: center;
    }

    .service--list {
        margin: 0px 12px;
        width: 100%;

    }

    .service--list li {
        flex-direction: column;
        margin-bottom: 32px;
        padding: 0;
    }

    .service--img {
        width: 100%;
    }

    .service--content {
        margin: 0;
        width: 100%;
    }

    .df-rr {
        flex-direction: column-reverse;
    }

    .service--link {
        margin: 0px 12px;
        flex-direction: column;
        align-items: end;
        /* padding: 0px; */
        /* padding-left: 0px; */
        padding-right: 0px;
        width: 100%;
    }
}

.blog {
    width: 100%;
    padding: 80px 0px;
}

.blog--title {
    font-size: 64px;
    /* border:1px solid black; */
    margin-left: 312px;
}

.blog--list--section {
    margin-bottom: 160px;
}

.blog--list {
    margin-left: 312px;
    display: flex;
    gap: 24px;
    /* padding: 0px 68px; */
}

.blog--card {
    width: 416px;
}

.card--img {
    width: 100%;
    margin-bottom: 16px;
}

.card--content time {
    font-size: 16px;
}

.tag {
    display: flex;
    align-items: center;
}

.tag a {
    font-size: 24px;
    text-decoration: none;
    color: blue;
    font-weight: 500;
    margin-right: 8px;
}

.tag .card--tag {
    background-color: blue;
    color: #fff;
    padding: 6px 12px;
    border-radius: 50px;
}

.card--content h2 {
    font-size: 28px;
    font-weight: bold;
}

.card--content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 限制顯示 2 行 */
    overflow: hidden;
    margin-bottom: 16px;
}

.card--btn {
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    /* color: #4B4B4B; */
    background-color: #fff;
}

.card--btn:hover {
    background-color: #4B4B4B;
    color: #fff;
}

.blog-action {
    margin-left: 244px;
    width: 1432px;
    display: flex;
    justify-content: space-between;
    margin-top: -230px;
}

.blog-action a {
    display: inline-block;
}

@media(max-width:992px) {
    .blog {
        width: 100%;
        padding: 64px 12px;
    }

    .blog--title {
        font-size: 48px;
        /* border:1px solid black; */
        margin-left: 0px;
    }

    .blog--list--section {
        margin-bottom: 0px;
    }

    .blog--list {
        margin-left: 0px;
        display: flex;
        gap: 0px;
        /* padding: 0px 68px; */
    }

    .blog--card {
        width: 100%;
    }

    .card2,
    .card3 {
        display: none;
    }

    .card--img {
        width: 100%;
        margin-bottom: 16px;
    }

    .card--content time {
        font-size: 16px;
    }

    .tag a {
        font-size: 24px;
        text-decoration: none;
        color: blue;
        font-weight: 500;
    }

    .card--content h2 {
        font-size: 28px;
        font-weight: bold;
    }

    .card--content p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* 限制顯示 2 行 */
        overflow: hidden;
        margin-bottom: 16px;
    }

    .card--btn {
        font-size: 16px;
        padding: 8px 16px;
        border: 1px solid black;
        border-radius: 20px;
        text-decoration: none;
        /* color: #4B4B4B; */
        background-color: #fff;
    }

    .card--btn:hover {
        background-color: #4B4B4B;
        color: #fff;
    }

    .blog-action {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        /* margin-top: -230px; */
    }

    .blog-action a {
        display: inline-block;
        margin-right: 24px;
    }
}




.successCase {
    padding: 80px 312px;
}

.successCase--title h2 {
    font-size: 64px;
    margin-bottom: 24px;
}

.successCase--content {
    margin-bottom: 40px;
}

.successCase--tilteshow {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titleshow--img {
    width: 745px;
    padding: 24px;
    background-color: #EDEDED;
    /* background-color: red; */
    margin-right: 24px;
}

.successCase--tilteshow--content {
    width: 526px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.successCase--content li {
    /* width: 526px; */
    padding: 80px 40px;
}

.successCase--content span {
    color: blue;
}

.successCase--dash--section {
    margin-bottom: 24px;
}

.successCase--content p {
    font-size: 16px;
    font-weight: bold;
}

.successCase--content--btn {
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #fff;
    color: blue;
    border: solid blue;


}

.successCase--content--btn:hover {
    background-color: blue;
    color: white;
    transition: all 0.3s ease-in-out;
}

.successCase--list {
    padding: 24px;
    display: flex;
    justify-content: space-between;

}


.successCase--img {
    margin-bottom: 16px;
}

.successCase--list--h2 h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.successCase--list--pgroup {
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.successCase--list--p {
    font-size: 16px;
    font-weight: 400;
    color: #4B4B4B;
    display: flex;
    gap: 4px;
    align-items: center;
}

/* .successCase--list--btn{
    margin-top: 16px;
} */
.successCase--list--btn a {
    display: inline-block;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: #4B4B4B;
}

.successCase--list--btn a:hover {
    color: white;
    background-color: #4B4B4B;
}



@media(max-width:992px) {
    .successCase {
        margin: 0;
        padding: 64px 12px;
    }

    .successCase--title h2 {
        font-size: 48px;
        margin-bottom: 24px;
    }

    .titleshow--img {
        width: 100%;
        margin: 0;
    }

    .successCase--tilteshow {
        flex-direction: column;
    }

    .successCase--tilteshow--content {
        width: 100%;
        margin: 0px 12px;
        /* margin-bottom: 40px; */
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
    }

    .successCase--content li {
        /* width: 526px; */
        padding: 40px 24px;
        margin-left: 0;
        margin-bottom: 12px;
    }

    .successCase--content span {
        color: blue;
    }

    .successCase--dash--section {
        margin-bottom: 24px;
    }

    .successCase--content p {
        font-size: 16px;
        font-weight: bold;
    }

    .successCase--content--btn {
        padding: 8px 16px;
        border-radius: 20px;
        background-color: #fff;
        color: blue;
        border: solid blue;


    }

    .successCase--list {
        padding: 24px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .successCase--list li {
        margin-bottom: 24px;
    }


    .successCase--img {
        margin-bottom: 16px;
    }

    .successCase--list--h2 h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .successCase--list--pgroup {
        border-bottom: 1px solid black;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .successCase--list--p {
        font-size: 16px;
        font-weight: 400;
        color: #4B4B4B;
        display: flex;
        gap: 4px;
        align-items: center;
    }

    /* .successCase--list--btn{
    margin-top: 16px;
} */
    .successCase--list--btn a {
        display: inline-block;
        font-size: 16px;
        padding: 8px 16px;
        border: 1px solid black;
        border-radius: 20px;
        text-decoration: none;
        color: #4B4B4B;
    }

    .successCase--list--btn a:hover {
        color: white;
        background-color: #4B4B4B;
    }

}

.newslitter {
    display: flex;

}

.newslitter--img {
    width: 50%;
}

.newlitter--sub {
    width: 50%;
    background: url('./images/Hero\ Section_r.png');
    padding: 80px 172px;
}

.newlitter--sub--input {
    padding: 80px;
    background-color: #fff;
}

.newlitter--sub h2 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 16px;
}

.newlitter--sub p {
    font-size: 20px;
    font-weight: 200;
    font-weight: 600;
    margin-bottom: 24px;

}

.newlitter--sub p span {
    color: #0027D5;
}

.newlitter--sub input {
    display: block;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #4B4B4B;
    width: 100%;
    margin-bottom: 8px;
    background-color: #F1F1F1;
    border: 0px;
    margin-bottom: 24px;
}

.newlitter--sub button {
    text-decoration: none;
    color: blue;
    padding: 8px 16px;
    border: 1px solid blue;
    border-radius: 30px;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
}

@media(max-width:992px) {
    .newslitter {
        display: flex;
        flex-direction: column;
    }

    .newslitter--img {
        width: 100%;
    }

    .newlitter--sub {
        width: 100%;
        background: url('./images/Hero\ Section_r.png');
        padding: 12px;
    }

    .newlitter--sub--input {
        padding: 40px 24px;
        background-color: #fff;
    }

    .newlitter--sub h2 {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .newlitter--sub p {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 24px;

    }

    .newlitter--sub p span {
        color: #0027D5;
    }

    .newlitter--sub input {
        display: block;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 20px;
        font-weight: 600;
        color: #4B4B4B;
        width: 100%;
        margin-bottom: 8px;
        background-color: #F1F1F1;
        border: 0px;
        margin-bottom: 24px;
    }

    .newlitter--sub button {
        text-decoration: none;
        color: blue;
        padding: 8px 16px;
        border: 1px solid blue;
        border-radius: 30px;
        background-color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
}

.contact {
    padding: 80px 312px;
}

.contact h2 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 24px;
}

.contact--list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
}

.email {
    margin-left: 8px;
    text-decoration: underline;
    color: black;
}

.email:hover {
    color: blue;
}

.contact p {
    display: flex;
    align-items: center;
}

.contact--a {
    /* border:1px solid black; */
    text-align: end;
}

@media(max-width:992px) {
    .contact {
        padding: 64px 12px;
    }

    .contact h2 {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .contact--list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 1px solid black;
        margin-bottom: 16px;
    }

    .email {
        margin-left: 0px;
        text-decoration: underline;
        color: black;
    }

    .email:hover {
        color: blue;
    }

    .contact p {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    .contact--a {
        /* border:1px solid black; */
        text-align: start;
        margin-bottom: 8px;
    }
}

footer {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}