.icon-m{
    width: 24px;
    height: 17px;
}

.icon-40{
    width: 40px;
    height: 40px;
}

.df{
    display: flex;
}

.df-rr{
    flex-direction:row-reverse;
    justify-content: start;
}

.dash{
    border:1.25px solid blue;
    border-radius: 10PX;
    width: 30px;
    margin:5px 18.75px;
}
.ml--40{
    margin-left: -40px;
}
.mr--40{
    margin-right: -40px;
}
.z-10{
    z-index: 10;
}
